alias coim='podman images '
alias cobu='podman build --tag '
alias coim='podman images '
alias cops='podman ps -a '
alias copu='podman pull '
alias coru='podman run -v ./:/root/project -it --name '
# alias contex='podman exec -it '
alias corm='podman rm --name '
alias cormi='podman rmi '
