alias contim='podman images '
alias contps='podman ps -a '
alias contpu='podman pull '
alias contru='podman run -v ./:/root/project -it --name '
# alias contex='podman exec -it '
alias contrm='podman rm --name '
alias contrmi='podman rmi '
