alias dockim='docker images'
alias dockps='docker ps'
alias dockpu='docker pull'
alias dockru='docker run -it'
alias dockrm='docker rm'
alias dockrmi='docker rmi'
